.section5{
    background-image: url("/public/image.png");
    height: 516px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
    padding-bottom: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.teext2{
    padding-top: 190px;
    color: white;
}




.ptext{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family:inherit;
}

.btnbtn{
    background-color: transparent;
    border: 3px solid orangered;
    width: 142px;
    height: 60px;
    border-radius: 10px;
    font-size: 16px;
    color: bisque;
}

.btnbtn:hover{
     background: rgba(250, 74, 12, 1);
     color: white;
}

.section-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 47px;
    padding-top: 30px;
}
