.doda {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bolas p {
  width: 123px;
  color: #fa4a0c;
  font-size: 20px;
}

.bolas {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bolas h3 {
  opacity: 1;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
  color: black;
}

.bolas h5 {
  width: 460px;
  opacity: 0.6;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
}
